@media (max-width: 500px) {
	header {
		justify-content: space-around;
	}
	.logo-link {
		display: none;
	}
	.nav-ul {
		padding: 0;
		display: flex;
	}
	.nav-link {
		font-size: 1rem;
		text-align: center;
	}

	.profile-pic {
		height: 120px;
		width: 120px;
	}
	.title-section {
		margin: 2rem auto;
	}
	.title-title {
		font-size: 1.8rem;
	}

	.title-headline {
		font-size: 1rem;
	}

	.contact-section {
		width: 100%;
	}

	.about-section {
		margin: 0 auto;
		width: 90%;
		font-size: 1rem;
		padding: 2rem;
	}

	.project-section {
		flex-direction: column;
		width: 100%;
		margin: 2rem 0;
	}

	.project-card {
		width: 90%;
		margin: 1rem 0;
	}

	.project-card:hover {
		transform: none;
	}

	.email-section {
		width: 100%;
	}

	.email-section a {
		font-size: 1rem;
	}
}
