* {
	box-sizing: border-box;
}
body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	background-image: linear-gradient(
			rgba(18, 96, 102, 0.904),
			rgba(21, 22, 22, 0.623)
		),
		url("./bg-min.jpg");
	background-attachment: scroll;
	background-size: cover;
	background-position: center;
	font-family: "Open Sans", sans-serif;
	font-size: 10px;
	overflow: hidden;
}

header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(19, 33, 41, 0.918);
}

.logo-link {
	color: #ff7755;
	font-size: 2rem;
	margin: 1rem;
	font-family: "Slabo 27px", serif;
	letter-spacing: 2px;
	text-decoration: none;
}
.logo-link:hover {
	color: #fc5d36;
}
.nav-ul {
	display: flex;
	list-style: none;
}
.nav-link {
	color: #fff;
	text-decoration: none;
	transition: color 0.2s ease-in;
	font-size: 1.2rem;
}

.nav-link:hover,
.active {
	color: #ff7755;
}

.nav-item {
	font-size: 1.5rem;
	margin: 0.5em 5rem 0.5rem 0rem;
}
.title-section {
	width: 60%;
	margin: 5rem auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.profile-pic {
	background-image: url(./profile.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	border: 1px solid rgb(15, 94, 80);
}
.title-title {
	font-size: 2.5rem;
	color: #fff;
	text-shadow: 1px 2px 5px rgb(0, 0, 0);
	font-weight: 400;
	margin-top: 0.5rem;
	margin-bottom: 0;
	padding: 0;
}
.title-headline {
	font-size: 2rem;
	color: #fff;
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.589);
	font-weight: 400;
	margin: 1.5rem 0;
	padding: 0;
}

.hr {
	width: 25%;
	border: 1px solid rgb(9, 53, 45);
}

.about-section {
	color: rgb(224, 223, 223);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 60%;
	font-size: 1.2rem;
	background-color: rgba(0, 0, 0, 0.11);
	padding: 3rem;
	border-radius: 8px;
}

.project-section {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 70%;
	width: 80%;
	margin: 5rem auto;
}

.project-card {
	color: #fff;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: rgba(39, 35, 35, 0.363);
	height: 100%;
	width: 30%;
	text-align: center;
	box-shadow: 5px 5px 5px rgba(32, 42, 49, 0.322);
}
.project-card h1 {
	font-size: 1.2rem;
	color: #fc5d36;
}
.project-card img {
	width: 70%;
	border-radius: 8px;
}
.project-card ul {
	font-size: 1rem;
	list-style: none;
	padding: 0;
}

.project-card a {
	color: #fc5d36;
	text-decoration: none;
	font-size: 1rem;
	margin: 0.5rem;
}

.project-card a:hover {
	color: #fff;
}

.contact-section {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	margin: 0 auto;
}

.email-section {
	margin: 0 auto;
	text-align: center;
}

label {
	font-size: 1.5rem;
	color: #fff;
	margin: 0.5rem;
	text-shadow: 1px 1px 5px #333;
}
.contact-form {
	width: 80%;
	margin: 1rem auto;
	display: flex;
	flex-direction: column;
}

.contact-form input,
textarea {
	padding: 10px;
	border-radius: 8px;
	border: none;
	font-size: 1.1rem;
	margin-bottom: 1rem;
}

.contact-form button {
	width: 50%;
	margin: 2rem auto;
	border: none;
	padding: 0.8rem 1.6rem;
	border-radius: 8px;
	background-color: #ff7755;
	color: #fff;
	font-size: 1.1rem;
	box-shadow: 2px 2px 5px rgb(41, 41, 41);
}

.contact-form button:hover {
	background-color: #ff7755;
	background-color: #fc5d36;
	cursor: pointer;
}
.email-section h2 {
	font-size: 1.2rem;
	color: #fff;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.616);
}

.email-section a {
	color: #ff7755;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.705);
	text-decoration: none;
	font-size: 2.2rem;
}

.email-section a:hover {
	color: #fc5d36;
}
